{% extends 'base.html' %}


{% block stylesheet %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'static_pages/css/main.css' %}">
{% endblock stylesheet %}



{% block content %}
<div class="container-fluid">
    <div class="header row align-items-center justify-content-center">
        <div class="col-2">
            <img src="{% static 'static_pages/img/MT-logo.png' %}" class="img img-fluid" alt="logo">
        </div>
        <div class="col-9">
            <h1 class="header__title text-center">MARSEILLE THROWDOWN</h1>
        </div>
    </div>
    <div class="welcome py-5">
        <div class="row align-items-center">
            <div class="col-6 px-5">
                <div class="box">
                    <h3 class="welcome welcome__message text-center custom-underline p-3">
                        Welcome to the website of the Marseille Throwdown !
                    </h3>
                </div>
            </div>
            <div class="welcome__video col-6 px-5 py-2">
                <div class="ratio ratio-16x9">
                    <iframe style="box-shadow: rgb(9 0 10) 0px 0px 30px 12px;" src="https://www.youtube.com/embed/XU0VPOEfH3w?autoplay=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="invitation py-5">
        <div class="row py-5">
            <div class="col-6 text-center px-4">
                <div class="row alig-items-center">
                    <div class="col-2">
                        <img src="{% static 'static_pages/img/custom-ticket.png' %}" class="img img-fluid" alt="logo">
                    </div>
                    <div class="col">
                        <h1 class="title mb-4">Get your entry for the 2nd phase of qualifications !</h1>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col pt-3">
                        <p>For this 2021 edition, we are qualifying the athletes through 2 qualification phases (50% each).
                        </p>
                        <p>The first phase took place in August / September 2020 and was a real success with more than 1100 athletes registered.</p>
                        <p>The 2nd qualifying phase is now open and you can get your place on Competition Corner by clicking on the button below.</p>
                        <a href="https://competitioncorner.net/events/4022" class="btn btn-primary mt-3">Register Now</a>
                    </div>
                </div>
            </div>
            <div class="col-6 text-center px-4">
                <h1 class="title mb-4">There must be a category for you !</h1>
                <p>21 categories will be present this year.</p>
                <h4><u>Individual</u></h4>
                <ul class="list-unstyled">
                    <li>Adaptive (Mixte)</li>
                    <li>Teen (Men & Women)</li>
                    <li>Espoir (Men & Women)</li>
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}

