@font-face {
    font-family: strasua;
    src: url(../fonts/strasua.ttf);
  }

@font-face {
    font-family: bebas;
    src: url(../fonts/BebasNeue.otf);
  }

  @font-face {
    font-family: oswald-regular;
    src: url(../fonts/Oswald-Regular.ttf);
  }


body{
    background: radial-gradient(closest-side at 50% 50%, rgb(31, 20, 33) 0%, rgb(22, 16, 23) 100%) 0% 0% / auto no-repeat scroll padding-box padding-box rgba(0, 0, 0, 0);
    color:whitesmoke;
    font-family: oswald-regular, roboto;
    & p{
        font-size: 1.1rem;
        color: rgb(143, 146, 154);
    }
}

.header{
    &__title{
        font-family: strasua, roboto;
        font-size: 7rem;
        color: #20b8cd;
        text-shadow: 0px 0px 12px black;;
    }
}

.welcome{
    background-color: #c6316e;
    font-family: bebas, roboto;
    font-size: 4rem;
    &__message{
        border-top: 4px solid white;
        border-bottom: 4px solid white;
    }
}

.title{
    font-family: bebas, roboto;
}

.btn-primary{
    background-color: #c6316e;
    border-color: #c6316e;
}


// .box {
//     border-top: 4px solid white;
//     display: block;
//     width: 100%;
//     text-align: center;
//     cursor: pointer;
//   }
